.header {
  background-color: $white;
  &-logo {
    padding: 1.5rem;
    @include media-breakpoint-down(md) {
      padding: 1rem;
    }
  }
  &-spnav {
    display: none;
    @include media-breakpoint-down(md) {
      display: block;
    }
    ul {
      display: flex;
      justify-items: stretch;
      margin: 0;
      padding: 0;
      li {
        display: block;
        width: 20%;
        list-style: none;
        text-align: center;
        line-height: 1;
        div,
        a {
          cursor: pointer;
          display: block;
          color: #909090;
          border-top: 1px solid #f4f3ef;
          border-right: 1px solid #f4f3ef;
          padding: 1rem 0.5rem;
          span,
          i {
            display: block;
          }
          span {
            font-size: 12px;
            margin-top: 0.5em;
          }
        }
        &:last-child {
          a {
            border-right: 0;
          }
        }
        &.active {
          a {
            color: $primary;
            border-bottom: 2px solid $primary;
          }
        }
      }
    }
  }
  &-spmenu {
    z-index: 999;
    display: none;
    position: fixed;
    top: 0;
    right: -70vw;
    width: 70vw;
    min-height: 100vh;
    background-color: $white;
    transition: all 0.3s;
    @include media-breakpoint-down(md) {
      display: block;
    }
    &__site {
      padding: 1rem 1rem 0;
      &-name {
        display: block;
        padding: 1rem;
        border-radius: 0.5rem;
        border: 1px solid $light;
        margin-bottom: 1rem;
      }
    }
    ul {
      display: block;
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        font-size: $font-size-sm;
        line-height: 1;
        padding: 0.8em;
        &.cats {
          background-color: $light;
          margin-top: 1rem;
        }
        a {
          display: block;
          color: $body-color;
          padding: 0.25em 0.25em 0.25em 0.75em;
          &::before {
            content: "▶";
            margin-right: 0.5em;
          }
        }
      }
    }
    &.open {
      right: 0;
    }
  }
  &-nav {
    @include media-breakpoint-down(md) {
      display: none;
    }
    ul {
      padding: 0;
      margin: 0;
      li {
        overflow: hidden;
        position: relative;
        list-style: none;
        i {
          color: $secondary;
          margin-right: 0.5rem;
        }
        span,
        a {
          display: block;
          cursor: pointer;
          color: $body-color;
          padding: 0.5rem 1.5rem;
          &:hover {
            text-decoration: none;
          }
        }
        &.active {
          &::after {
            border-right: 17px solid $light;
            border-top: 20px solid transparent;
            border-bottom: 20px solid transparent;
            content: "";
            display: inline-block;
            position: absolute;
            right: 0;
            top: 0;
          }
          & > a,
          & > span {
            background-color: $warning !important;
            color: $white;
            i {
              color: $white;
            }
          }
        }
        &.parent {
          transition: all 0.3s;
          &.toggle-open {
            background-color: #fafafa;
          }
          ul {
            display: none;
            margin-top: 0.75rem;
            li {
              padding: 0;
              a {
                display: block;
                font-size: $font-size-sm;
                color: $secondary;
                padding: 0.5rem 1rem;
                &::before {
                  content: "-";
                  margin-right: 5px;
                }
              }
            }
          }
        }
      }
    }
  }
}
